hr {
    border-top: 2px solid gray;
}

.dropdown-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.table-filter-order {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.slider-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}
.chart-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.table-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.table-container-show {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.rangeslider {
    margin-top: 20px;
    margin-bottom: 20px;
}

.slider-label {
    font-size: 20px;
    font-weight: bold;
}

.slider-value {
    font-size: 20px;
}

.dropdown-button {
    width: 100%;
    margin-top: 5px;
}

.tabs-group {
    padding-top: 20px;
}

.app-div {
    padding: 10px;
}

.data-table-div {
    margin: auto;
    padding: 10px;
}

.budget-label {
    font-size: 20px;
    font-weight: bold;
}

.budget-text {
    font-size: 20px;
}

.budget-text-value {
    font-size: 20px;
    font-style: italic;
}

.budget-progress-bar {
    height: 20px;
}

.budget-tooltip {
    font-size: 18px;
}

.checklist {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

@media(max-width: 800px) {
    .dropdown-container {
        grid-template-columns: 1fr;
    }
}